/********** common setting **********/
h2 {
  font-size: 2.8rem !important;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: 0.3s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.atlas-cta-wide {
  width: 100%;
}

.cta-green {
  background: #00ffad;
  color: #192440;
}

.cta-green:hover {
  color: #ffffff;
  background: #00e69c;
}

.cta-blue {
  background: #192440;
  color: #ffffff;
}

.cta-blue:hover {
  color: #ffffff;
  background: #121a2e;
}

.cta-ghost {
  border: 2px solid #192440 !important;
  color: #192440;
}

.cta-ghost:hover {
  color: #ffffff;
  background: #121a2e;
}

.cta-purple-xulada {
  background: #a43692;
  color: #ffffff;
}

.cta-purple-xulada:hover {
  color: #a43692;
  background: #ffffff;
}

.cta-red-xulada {
  background: #ed2f59;
  color: #ffffff;
}

.cta-red-xulada:hover {
  color: #ed2f59;
  background: #ffffff;
}

#banner {
  background-size: cover;
}

/********** banner **********/
#banner header {
  overflow: hidden;
}

#banner header img {
  max-width: 110px;
}

/********** feature (skew background) **********/
.feature img {
  width: 100%;
  max-width: 480px;
}

#feature-first {
  background: linear-gradient(168deg, #ffffff 55%, #a43692 0);
}

#feature-last {
  background: #a43692;
}

/********** price table **********/
#price-table {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

#price-table__premium {
  background: #0e121d;
  color: #ffffff;
}

#price-table ul li {
  padding: 5px 0;
}

/********** contact **********/
#contact {
  background-size: cover;
}

#contact ul li {
  padding: 3px 0;
}

#contact form {
  color: #a43692;
}

#contact form input,
#contact form textarea {
  background: transparent;
  border: 1px solid #a43692;
  color: #ffffff;
}

/********** copyright **********/
#copyright {
  background: #192440;
  padding: 2rem 3rem;
}

#copyright #social-media a {
  width: 40px;
  height: 40px;
  border-radius: 99%;
  background: #ffffff;
  transition: 0.4s ease;
}

#copyright #social-media a i {
  color: #192440;
  font-size: 1.2rem;
  line-height: 40px;
}

#copyright #social-media a:hover {
  background: #a43692;
}

#copyright #social-media a:hover i {
  color: #ffffff;
}

/********** Xulada **********/
.xulada-services p {
  color: white;
  font-size: 1.15em;
}

p.xulada-subtitle {
  font-size: 2em;
}

h1.xulada-title {
  font-size: 4em;
}

.xulada .jumbotron {
  padding: 0.5em 1em;
}

.premium h2.font-weight-bold {
  font-weight: 400;
}

/********** RWD **********/
@media (max-width: 575px) {
  #banner h1.xulada-title {
    font-size: 2.6rem;
  }

  p.xulada-subtitle {
    font-size: 1.4em;
    margin-bottom: 2em !important;
  }

  .xulada-services p {
    font-size: 1em;
    text-align: left;
  }

  .premium h2.font-weight-bold {
    font-weight: 300;
    font-size: 2.4em !important;
  }

  #price-table h2 {
    font-size: 2.2em !important;
  }
}
